### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Bytecode files
*.class

# Package Files
*.jar
*.war
*.ear

# IDE files (e.g., IntelliJ, Eclipse)
*.iml
.idea/
*.project
.classpath
.settings/

# Logs and system files
*.log
*.DS_Store
*.vscode/
*.swp

# Maven and Gradle build directories
target/
out/
build/

# Dependency caches
**/node_modules/
.gradle/
.mvn/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store